/* .jumbotron{
<<<<<<< HEAD
	background-image: url('/static/imghosp/hospaz.jpg');
=======
	background-image: url('/static/icons/hospaz.jpg');
>>>>>>> Dados
	background-size: cover;
	background-position: center;
} */

/* .navbar-light .navbar-nav .nav-link {
    color: #007bff;
}

button{
	border-radius: 50px;
}

.mestre{
	width: 46px;
	height: 46px;
}

.icones a{
	display: block;
	width: 36px;
	height: 36px;

}

.icones li{
	display: inline-block;
	margin-left: 0.5rem;
<<<<<<< HEAD
}

.copy{
=======
} */

 
/* .copy{
>>>>>>> Dados
	color: #FFFFFF;
}

.avaliado{
	color: #FFFFFF;
} */


/*.nav-link{

/*
padding-top: 5rem ; /* pt 0-5  
padding-right: ;    /* pr 0-5  
padding-left: ;    /* pl 0-5  
padding-bottom: 5rem;  /* pb 0-5  
background: #333FDA;
border: solid 2px;

margin-left: 1rem ;  /* ml 0-5  
margin-right: 2rem;   /* mr 0-5  
margin-top: 2rem;      /* mt 0-5  
margin-bottom: 3rem;    /* mb 0-5  

*/

 