.jumbotron{
	background-image: url('V:/Curso FIC/hospitalar/imghosp/hospaz.jpg');
	background-size: cover;
	background-position: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}

button{
	border-radius: 50px;
}

.mestre{
	width: 46px;
	height: 46px;
}

.icones a{
	display: block;
	width: 36px;
	height: 36px;

}

.icones li{
	display: inline-block;
	margin-left: 0.5rem;
}

.icones a[href='https://github.com/']{
	background-image: url('V:/Curso FIC/hospitalar/img/github.png');
	background-size: 36px 36px;
}

.icones a[href='https://myaccount.google.com/']{
	background-image: url('V:/Curso FIC/hospitalar/img/gp.png');
	background-size: 36px 36px;
}

.icones a[href='https://br.linkedin.com/']{
	background-image: url('V:/Curso FIC/hospitalar/img/link.png');
	background-size: 36px 36px;
}

.icones a[href='https://www.facebook.com/']{
	background-image: url('V:/Curso FIC/hospitalar/img/face.png');
	background-size: 36px 36px;
}

.copy{
	color: #FFFFFF;
}

.avaliado{
	color: #FFFFFF;
}

.card-header{
	background-image: url('V:/Curso FIC/hospitalar/imghosp/hospaz.jpg');
	background-size: cover;
	background-position: center;
}





/*.nav-link{

/*
padding-top: 5rem ; /* pt 0-5  
padding-right: ;    /* pr 0-5  
padding-left: ;    /* pl 0-5  
padding-bottom: 5rem;  /* pb 0-5  
background: #333FDA;
border: solid 2px;

margin-left: 1rem ;  /* ml 0-5  
margin-right: 2rem;   /* mr 0-5  
margin-top: 2rem;      /* mt 0-5  
margin-bottom: 3rem;    /* mb 0-5  

*/

