{% extends 'hospitais/base.html' %}

{% block content %}

<div class="container pb-5">
	<!-- <section class="jumbotron">		 
		<form method="GET" class="input-group">
			<input class="form-control" type="search" placeholder="Busque aqui" name="search">
			<button class="btn-primary ml-1">Pesquisar</button>
		</form>
	</section>
 -->

	{% if hospitais|length != 0 %}
	<table class="table-responsive-lg table-responsive-sm table-responsive-md pb-5 mb-5">
		<thead>
			<tr >
				<th class="">Nome Hospital</th>
				<th class="">Foto</th>
				<th class="">Descrição</th>
				<th class="">Tipo Hospital</th>
				<th class="">Conceito Hospital</th>
				{% if user.is_authenticated%}
				<th>Editar</th>
				<th>Excluir</th>
				{% endif%}
			</tr>
		</thead>
		<tbody>
			{% for hospital in hospitais %}
			<tr>
				<td>{{hospital.nome_hospital}}</td>
				<td><img src="{{hospital.foto_url}}" alt="" class="img-fluid img-thumbnail"></td>
				<td>{{hospital.desc_hospital}}</td>
				<td>{{hospital.tipo_hospital}}</td>
				<td>{{hospital.conceito_hospital}}</td>
				{% if user.is_authenticated%}
				<td><a href="{% url 'editar' hospital.id %}" class="btn btn-warning">Editar</a></td>
				<td><a href="{% url 'deletar' hospital.id %}" class="btn btn-danger">Excluir</a></td>
				{% endif%}
			</tr>			
			
			{% endfor %}
			
		</tbody>
	</table>
	{% else %}
	<h3><i class="material-icons align-middle" style="font-size:48px;color:yellow">error_outline</i>Ops! Nenhum hospital Cadastrado. Cadastre um Hospital.</h3>
	{% endif%}
</div>


{% endblock content %}